td {}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

p {
	margin: 0;
	padding: 0;
    margin-top: 10px;
}

.underlinkline { 
    border-bottom:2px solid #4F51FF; 
}

.doubleunderline{ text-decoration: underline; border-bottom: 1px solid red;}

.navlinks a:link {color: #FFFFFF; text-decoration: none}
.navlinks a:visited {color: #FFFFFF; text-decoration: none}
.navlinks a:active {color: #FFFFFF; text-decoration: none}
.navlinks a:hover {cursor: pointer; color: #FF6E30; text-decoration: none}

.bottomlinks a:link {color: #000000; text-decoration: none}
.bottomlinks a:visited {color: #000000; text-decoration: none}
.bottomlinks a:active {color: #000000; text-decoration: none}
.bottomlinks a:hover {cursor: pointer; color: #FF6E30; text-decoration: none}

.navlinks {
font-family: Georgia, Times New Roman, Times, serif; font-size: 18px; margin-top: 0px;
}

.bottomlinks {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px; margin-top: 0px;
}
.whitebodytext {color: #ffffff; font-size: 16px; }
.orangeboldtext {color: #f36614; font-weight: bold; font-size: 16px; }
.orangebodytext {color: #f36614; font-size: 16px; }
.bluebodytext {color: #4F51FF;  font-size: 16px; }
.redboldtext {color: #ff0000; font-weight: bold;  font-size: 16px; }
.redboldtext34 {color: #ff0000; font-weight: bold;  font-size: 34px; }
.blueuplefttext {color: #4F51FF; font-weight: bold; font-size: 22px; margin-top: 0px;}
.playerbooktext {color: #ffffff; font-size: 14px; }
.orangepayment {color: #f36614; font-weight: bold; font-size: 20px;}
.congratstext {color: #f36614; font-weight: bold; font-size: 60px;}
.redbookvpstext {color: #ff0000; font-weight: bold;  font-size: 12px; }
.greenbigtext {color: #00A721; font-weight: bold;  font-size: 34px; }

<style type="text/css">
table.index {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #4F51FF #4F51FF #4F51FF #4F51FF;
	border-collapse: separate;
	background-color: black;
}
table.index th {
	border-width: 1px 1px 1px 1px;
	padding: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-color: #4F51FF #4F51FF #4F51FF #4F51FF;
	border-collapse: separate;
	background-color: black;
	-moz-border-radius: 0px 0px 0px 0px;
}
table.index td {
	border-width: 1px 1px 1px 1px;
	padding: 10px 10px 10px 10px;
	border-style: solid solid solid solid;
	border-color: #4F51FF #4F51FF #4F51FF #4F51FF;
	border-collapse: separate;
	background-color: black;
	vertical-align:top
	-moz-border-radius: 0px 0px 0px 0px;
}
</style>
